* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.adminLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frmAdminLogin {
    background-color: var(--maroon);
    padding: 50px;
    width: 75%;
    border-radius: 15px;
    color: var(--white);
}

.frmAdminLogin .form-title {
    text-align: center;
}

.btnLogin {
    border: none;
    background-color: var(--gold);
}