.vote {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerVote {
    width: 100%;
    background-color: var(--maroon);
    display: flex;
    justify-content: center;
}

.headerVote .headerContainer {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerVote .headerTitle, .headerLogo {
    display: block;
    margin: auto;
    padding: 2rem;
}
.headerVote .headerTitle p {
    color: var(--white);
    font-size: 24px;
    width: 75%;
}

.headerVote .headerTitle h1 {
    color: var(--gold);
    font-size: 48px;
}

.headerVote .headerLogo img {
    max-width: 250px;
}

.voteForm {
    width: 100%;
    padding: 25px;
}

.positionGroup {
    width: 100%;
}

.titleDiv {
    text-align: center;
    font-size: 48px;
    background-color: var(--gold);
    color: var(--maroon);
    width: 75%;
    margin: 0 auto 50px auto;
}

.cardsGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.candidateCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card {
    width: 480px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow:
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    
}

.card img {
    max-width: 150px;
    border-radius: 50%;
}

.elipseBg {
    border: 2px solid var(--maroon);
    border-radius: 50%;
    margin: 25px;
}

.candidateInfo {
    margin: auto;
    color: var(--maroon);
}

.candidateInfo h2 {
    font-weight: 700;
    color: var(--maroon);
}

.btnRadio {
    margin-top: 25px;
}

.btnRadio .btn-outline-danger {
    color: var(--maroon);
    border-color: var(--maroon);
    width: 150px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Hover */
.candidateCard:hover .card{
    background-color: var(--white, 0.5);
}

.btnRadio .btn-outline-danger:hover {
    background-color: var(--maroon);
    color: var(--white);
    border-color: var(--maroon);
}

/* Hover */

/* Checked */

.btn-check:checked+.btn {
    background-color: var(--maroon);
    color: var(--white);
    border-color: var(--maroon);
}

/* Checked */

.btnCastSubmit {
    display: block;
    margin: auto;
    width: 150px;
    text-transform: uppercase;
    font-weight: 700;
}

@media only screen and (max-width: 1024px) {
    .headerVote .headerContainer {
        width: 100%;
    }
    .headerVote .headerTitle, .headerLogo {
        padding: 0 1rem;
    }
    .headerVote .headerTitle p {
        font-size: 12px;
        width: 100%;
    }
    
    .headerVote .headerTitle h1 {
        color: var(--gold);
        font-size: 24px;
    }
    
    .headerVote .headerLogo img {
        max-width: 120px;
    }
}